:root {
    --police-titre: 'IM Fell French Canon SC', serif;
    /* --police-text :  'Roboto'; */
    --police-text: 'Roboto', sans-serif;
    --police-text-color: #505050;
    --background-color: #E5CAAD;
    --button-color: #B08968;
    --radius: 10px;
    --drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    --size-text: 14px;
}

header {

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--police-titre);
    margin-top: 2rem;
    width: 100%;







}

.Menu img {
    width: 40px;
    height: 40px;




}
.Menu ul {
    display: none;
}

.bandeau {

    width: 100%;
    height: 50px;
    position: absolute;
    top: 70px;
    background-color: var(--background-color);

    z-index: -1;

}

li {
    list-style-type: none;



}



.logo {


    width: 130px;
    height: 130px;

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* justify-content: center; */

}

h1,
h2,
h3 {
    font-family: var(--police-titre);
    margin: 1rem;
    text-align: center;
    /* margin-bottom: 3rem; */

}

p {
    font-family: var(--police-text);
    font-size: var(--size-text);
    color: var(--police-text-color);
    margin: 1rem;


}

button {
    font-family: var(--police-text);
    font-size: 16px;
    background-color: var(--button-color);
    color: white;
    border-radius: var(--radius);
    border: none;
    width: 105px;
    height: 30px;
    margin: 1rem;


}

.button-actu {


    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    font-size: 15px;
    position: absolute;
    margin-top: -1rem;









}

.button-container {
    padding: 0.5rem;

    margin-bottom: 0.5rem;

}


.articles {
    /* width: 100%; */
    /* height: 100%;   */
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1rem;
    /* margin-bottom: 2rem; */


}


.articles img {

    width: 100%;     
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;

}

.articles h3 {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);

}

#carte1,
#carte2,
#carte3 {

     /* display: flex;
    flex-direction: column;   */
    border-radius: 20px;
    background-color: var(--background-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* padding: 2rem; */
    /* align-items: center; */
    text-align: center;
    /* margin : 1rem;   */
    /* filter: drop-shadow(40px,40px,40px,black); */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.10);


}

.container-history {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-history {

    position: absolute;

    align-items: center;
    width: 100%;
    height: 735px;
    object-fit: cover;



    z-index: -1;


}

.text-history {
    font-size: var(--size-text);
    color: white;
    text-align: center;
    width: 220px;

}

h2 {
    color: white;
}

.container-history-text {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    margin: 1rem;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.button-expo {
    width: 160px;
    height: 30px;
    z-index: -1;
    position: relative;
    margin-top: -0.5rem;



}

footer {

    text-align: center;
}


 @media screen and (min-width: 920px){ 

    h1 {
        margin: 1rem;
        padding: 2rem;
    }

    h3 {
        font-size: 24px;
    }
    .main {
        
        
        
        
    }

    .Menu ul {
        display:flex ;
        flex-direction: row;
       
       
        


    }
    .Menu img {
        display: none;
    }
    article{
      
        width: 100%;
        position: relative;
        justify-content:  
        
    }
    .articles{
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .articles img {
       width: 100%;
       height: 200px;
    }
    #carte1,
    #carte2,
    #carte3 {
        display: flex;
        flex-direction: column;
        width: 350px; 
        height: 450px;
        margin : 2rem;
        flex-grow: 1;
        
        
    }
    
    p {
        font-size: 20px;
    }
    .button-actu {
        width: 200px;
        height: 40px;
        z-index: 1;
        font-size: 20px;
    }
    .En-savoir-plus {
        display: flex;
        flex-direction: row;
        align-self: end;
       
    }
} 